/* CSS for menu */
.menu {
  width: 100%;
  height: 100vh; /* Occupies full viewport height */
  background-image: url(./assets/AlexBackground.jpg);
  background-size: cover; /* Ensures the background covers the entire container */
  background-position: center; /* Center the background image */
}

.menu ul {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
  font-family:fantasy;
}

.menu li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
	min-width: 80px;
	margin: auto;


  transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */

  /* Initial box-shadow: none */
  box-shadow: none;

}

.menu li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

/* CSS for ranking */

.ranking{
  width: 100%;
  height: 100vh; /* Occupies full viewport height */
  background-image: url(./assets/AlexBackground.jpg);
  background-size: cover; /* Ensures the background covers the entire container */
  background-position: center; /* Center the background image */
}


.ranking ul {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
  font-family:fantasy;
}



.ranking li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
	min-width: 80px;
	margin: auto;
}


/* CSS for compare */

.compare{
  width: 100%;
  height: 100vh; /* Occupies full viewport height */
  background-image: url(./assets/AlexBackground.jpg);
  background-size: cover; /* Ensures the background covers the entire container */
  background-position: center; /* Center the background image */
}


.compare ul {
	display: flex;
	width: 100%;
	height: 100vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
  font-family:fantasy;
}



.compare li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
	min-width: 80px;
	margin: auto;
}


/* CSS for about*/


.aboutUs{
  border-style: groove;
  border-radius: 20vh;
  background-color: black;
  background-size: cover;
  color: white;
  font-family: 'Times New Roman', Times, serif;  
  margin: 0;
  text-align: center;
}

.team{
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto;
}

.column {
  width: 23%; 
  margin-bottom: 16px;
  padding: 0 8px;
  display: flex;
  justify-content: center; 

}


.card {
  text-align: center;
  border-style: groove;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  width: 250px; /* Adjust the width as per your requirement */
  height: auto; /* Allow height to adjust based on content */
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
}

.image{
    width: 100%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 24%;
  transition: box-shadow 0.3s ease; 
  box-shadow: none;

}

.card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1); /* Increase the scale on hover (1.1 means 110% of the original size) */

}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}










@media only screen and (max-width: 768px) {
  ul {
    height: auto; 
    flex-direction: column; 
    align-items: center; 
  }
  li {
    min-width: 50px; 
    padding: 1rem 1.5rem 1.15rem; 
  }
}


@media only screen and (max-width: 480px) {
  li {
    min-width: 40px; /* Adjust minimum width for mobile view */
    padding: 1rem 1rem 1.15rem; /* Adjust padding for mobile view */
  }
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}