html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CSS for menu */
.menu {
  width: 100%;
  min-height: 100vh;  
  background-image: url(./assets/backgroundQF.png);
  background-size: cover;
  background-position: center; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.menu_title{
  color: white;
  font-size: 40px;
  font-family: tahoma;
}

.menu_chant{
  color: white;
  font-size: 20px;
  font-family: fantasy;
  margin-bottom: 150px;
}

.menu_button{
  margin-bottom: 150px;
}

.menu_button button {
  margin: 15px; /* Adjust the value as needed */
  font-size: 24px;
  font-family: tahoma;
}

.menu_button1:hover, .menu_button2:hover, .menu_button3:hover {
  box-shadow: 0 12px 16px 0 rgba(255, 0, 0, 0.24), 0 17px 50px 0 rgba(255, 0, 0, 0.19);
}



@media (max-width: 768px) {
  .menu_title {
    font-size: 32px; 
  }
  .menu_button{
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    align-items: center; /* Aligns buttons to the center */
  }

  .menu_button button {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  .menu_title {
    font-size: 24px; 
  }
  .menu_button{
    display: flex;
    flex-direction: column; /* Stacks buttons vertically */
    align-items: center; /* Aligns buttons to the center */
  }

  .menu_button button {
    font-size: 12px; 
    padding: 5px 10px; 
    margin: 5px;
  }
}



/* CSS for ranking */

.ranking{
  width: 100%;
  height: 100vh; /* Occupies full viewport height */
  background-image: url(./assets/AlexBackground.jpg);
  background-size: cover; /* Ensures the background covers the entire container */
  background-position: center; /* Center the background image */
}




/* CSS for compare */


/* CSS for about*/

.aboutUs{
  border-style: groove;
  border-radius: 20vh;
  background-color: black;
  background-size: cover;
  color: white;
  font-family: 'Times New Roman', Times, serif;  
  margin: 0;
  text-align: center;
  margin-top: 10px; /* Move towards the bottom by 2 cm */

}

.team{
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center; 
  max-width: 1200px; 
  margin: 0 auto;
}

.column {
  width: 23%; 
  margin-bottom: 16px;
  padding: 0 8px;
  display: flex;
  justify-content: center; 

}


.card {
  text-align: center;
  border-style: groove;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  width: 250px; /* Adjust the width as per your requirement */
  height: auto; /* Allow height to adjust based on content */
  transition: transform 0.3s ease; /* Adding transition for smooth effect */
}

.image{
    width: 100%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 24%;
  transition: box-shadow 0.3s ease; 
  box-shadow: none;

}

.card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.1); /* Increase the scale on hover (1.1 means 110% of the original size) */

}

.button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 768px) {
  ul {
    height: auto; 
    flex-direction: column; 
    align-items: center; 
  }
  li {
    min-width: 50px; 
    padding: 1rem 1.5rem 1.15rem; 
  }
}


@media only screen and (max-width: 480px) {
  li {
    min-width: 40px; /* Adjust minimum width for mobile view */
    padding: 1rem 1rem 1.15rem; /* Adjust padding for mobile view */
  }
}




/* CSS for home menu */
.homeMenu {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 500px; /* Adjust to your desired width */
  height: auto; /* Auto height to accommodate children */
  border-style: groove;
  border-radius: 20px;
  margin: 0 auto; /* Center the .homeMenu itself in the viewport */
  padding: 20px; /* Add some padding */
  margin-top: 10px; /* Move towards the bottom by 2 cm */
}



.logo-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width to center logo */
  margin: 10px 0; /* Add some margin around the logo container */
}

.logo {
  width: 100px; /* Adjust to your desired width */
  height: auto; /* Maintain aspect ratio */
  border-style: groove;
  border-radius: 20px;
}

.searchBar {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width to center searchBar */
  padding: 20px; /* Add some padding */
  text-align: center;
}

.fighterDetails{
  justify-content: center;
  align-items: center;
  text-align: center;
}




.rankingCSS {
  display: flex; /* This will align children in a horizontal row */
  justify-content: center;
  text-align: center;
}
.class1{
  border-style: groove;
}
.class2{
  border-style: groove;
}
.class3{
  border-style: groove;
}
.class4{
  border-style: groove;
}
.class5{
  border-style: groove;
}



.navbar{
  background-color: #2f3542;
  border-style: groove;
}


.navbar ul {
	display: flex;
	width: 100%;
	height: 10vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none; 
}
.navbar li {
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
	min-width: 80px;
	margin: auto;
  transition: box-shadow 0.3s ease;
  box-shadow: none;

}

.navbar li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column; /* Stack items vertically */
    height: auto; /* Adjust height */
    padding: 0; /* Adjust padding if necessary */
  }

  .navbar li {
    width: 100%; /* Full width for each item */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}



